@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5rem;
  background-color: #1a202c;
}
